.save-btn {
    position: absolute;
    top: 13px;
    right: 60px;
    background-color: rgb(72, 25, 95);
    padding: 8px;
    border: 2px solid rgb(15, 15, 15);
    border-radius: 2px;
    outline: none;
    font-size: 16px;
    color: rgb(255, 255, 255);

    &:hover {
        cursor: pointer;
        background-color: rgb(110, 37, 146);
    }
}

.save-icon {
    position: absolute;
    top: 20px;
    right: 25px;
    width: 25px;
    display: none;
}
