.header {
    background-color: rgb(27, 24, 31);

    &-info {
        display: inline-block;
        position: absolute;
        top: 6px;
        right: 29.99vw;
        font-size: 16px;
        font-weight: 400;
    }
}
