.kobold {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 3px;
    width: 250px;
    height: auto;
    display: inline-block;
    background-color: rgb(196, 196, 196);

    &-purchase {
        padding: 10px;
        width: 80px;
        background-color: transparent;
        border: 1px solid #ccc;
        border-radius: 10px;
        outline: none;
        background-color: rgb(189, 229, 155);
        &:hover {
            cursor: pointer;
            background-color: rgb(173, 255, 106);
        }
        &:disabled {
            cursor: not-allowed;
            background-color: rgb(238, 238, 238);
        }
    }

    &-upgrade {
        padding: 10px;
        min-width: 80px;
        margin-left: 15px;
        background-color: transparent;
        border: 1px solid #ccc;
        border-radius: 10px;
        outline: none;
        background-color: rgb(247, 205, 129);
        &:hover {
            cursor: pointer;
            background-color: rgb(255, 178, 36);
        }
        &:disabled {
            cursor: not-allowed;
            background-color: rgb(238, 238, 238);
        }
    }

    h3 {
        text-align: center;
    }

    span {
        font-weight: bold;
    }
}

.kobolds {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    text-align: center;
    margin-top: 10px;
}
