.kobold {
    border: 1px solid rgb(72, 25, 95);
    padding: 10px;
    margin: 3px;
    width: 250px;
    height: auto;
    display: inline-block;
    background-color: rgb(26, 23, 23);

    &-purchase {
        color: white;
        padding: 10px;
        width: 80px;
        background-color: transparent;
        border: 1px solid #ccc;
        border-radius: 10px;
        outline: none;
        background-color: rgb(123, 44, 143);
        &:hover {
            cursor: pointer;
            background-color: rgb(149, 54, 173);
        }
        &:disabled {
            cursor: not-allowed;
            background-color: rgb(161, 161, 161);
            color: black;
        }
    }

    &-upgrade {
        color: white;
        padding: 10px;
        min-width: 80px;
        margin-left: 15px;
        background-color: transparent;
        border: 1px solid #ccc;
        border-radius: 10px;
        outline: none;
        background-color: rgb(48, 105, 119);
        &:hover {
            cursor: pointer;
            background-color: rgb(66, 142, 161);
        }
        &:disabled {
            cursor: not-allowed;
            background-color: rgb(161, 161, 161);
            color: black;
        }
    }

    h3 {
        text-align: center;
    }

    span {
        font-weight: bold;
    }
}

.kobolds {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    text-align: center;
    margin-top: 10px;
}
