.wrapper {
    color: rgb(204, 204, 204);
    display: grid;
    grid-template-columns: 70vw 29.99vw;
    grid-template-rows: 6.99vh 93vh;
    grid-template-areas:
        'header header'
        'main sidebar';
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}

.show {
    display: block !important;
}
